<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # content in the app folders
  RewriteCond %{REQUEST_URI} ^/(.*?)/(.*)$
  RewriteCond %{DOCUMENT_ROOT}/apps/$1/content/$2 -f
  RewriteRule ^(.*?)/(.*)$ /apps/$1/content/$2 [L]
  
  # content in the content folder
  RewriteCond %{DOCUMENT_ROOT}/content%{REQUEST_URI} -f
  RewriteRule !(^index\.php|^content/) /content%{REQUEST_URI} [L]
  
  # everything else!
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

</IfModule>
