<DirectoryMatch .*\.git/.*>
    Deny From All
</DirectoryMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # content in the app folders
  RewriteCond $1 ^(.*?)/(.*)$
  RewriteCond apps/%1/content/%2 -F
  RewriteRule (.*) apps/%1/content/%2 [QSA,last]
  
  # cached copy in the temp folder
  #RewriteCond %{REQUEST_URI} ^(.*)/$
  #RewriteCond %{DOCUMENT_ROOT}/temp/full_pages%{REQUEST_URI}index.html -f
  #RewriteRule !(^index\.php|^temp/full_pages/) /temp/full_pages%{REQUEST_URI}index.html [QSA,L]
  #RewriteCond %{DOCUMENT_ROOT}/temp/full_pages%{REQUEST_URI}.html -f
  #RewriteRule !(^index\.php|^temp/full_pages/) /temp/full_pages%{REQUEST_URI}.html [QSA,L]

  # content in the content folder
  RewriteCond content/$1 -F
  RewriteRule (.*) content/$1 [QSA,last]
  
  # everything else!
  #RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

</IfModule>