body { background-color: #0055AA; }
a { text-decoration: none; }
a:hover{ text-decoration: underline; }
#page { background-color: white; border: 0.2em solid black; padding: 1em; }
h2 { background-color: #F0F0FF; border-top: 1px solid #0055AA; }
h3 { background-color: #F0F0FF; border-top: 1px solid #0055AA; }
#flash { background-color: #FFFFCC; border: 2px dashed black; }
#sidebar { border: solid 3px blue; }
#sidebar li a { color: black; border: 1px solid transparent; }
#sidebar li a:hover { border: 1px solid black; background-color: #F0F0FF; }
pre { background-color: #CCCCCC; border-left: 5px solid #0000AA; }
.example { border: 1px solid transparent; }
.example:hover { border: 1px solid black; background-color: #E7E7E7; }
.code { background-color: #666666; color: yellow; }
.toggleLink { color: black; text-decoration: none; border: 1px solid transparent; }
.toggleLink:hover { color: black; text-decoration: none; border: 1px solid black; }
.toggleLink:visited { color: black; }
.show_person_detail{ border: 4px solid #666666; }
.show_person_detail th { padding: 0 10px 0; font-weight: bold; border-right: 2px solid #666666 }
.show_person_detail td { padding: 0 10px 0; }
.warning { border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center; }
.warning { color: #9F6000; background-color: #FEEFB3; background-image: url('../images/warning.png'); }
a.squarebutton{
	background: transparent url('../images/square-blue-left.gif') no-repeat top left; display: block; float: left;
	line-height: 15px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
	height: 23px; /* Height of button background height */
	padding-left: 9px; /* Width of left menu image */ text-decoration: none;
}
a:link.squarebutton, a:visited.squarebutton, a:active.squarebutton{ color: #494949; /*button text color*/ }
a.squarebutton span{ background: transparent url('../images/square-blue-right.gif') no-repeat top right; display: block; padding: 4px 9px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/ }
a.squarebutton:hover{ /* Hover state CSS */ background-position: bottom left; }
a.squarebutton:hover span{ /* Hover state CSS */ background-position: bottom right; color: black; }
.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */ overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */ width: 100%; }