%script{type="text/javascript", charset="utf-8"}
	//<![CDATA[
		window.onload = function(){
			document.getElementById('jsarea').innerHTML = 'This text has been changed using javascript, defined in index.head.haml';
		}
	//]]>